extends layout

block content
  div#game
 
  script(src="/javascripts/lib/jquery.min.js")
  script(src="/javascripts/lib/crafty-min.js")
  script(src="/javascripts/lib/ProgressBar.js")
  script(src="/javascripts/util.js")
  script(src="/javascripts/preload.js") 
  script(src="/javascripts/core.js")  
  script(src="/javascripts/npc.js")
  script(src="/javascripts/user.js")